

{% load static %}


{% load i18n %}
{% load account socialaccount %}



{% block content %}



{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}





{% include "socialaccount/snippets/login_extra.html" %}


{% endif %}



{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>URL Shortener - List</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href='{% static "images/icons/favicon.ico" %}'/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href=" {% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<style>


.glow {
  font-size: 15px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
</style>
<header style='height: 30px;
  background: #36304a;'>
  &nbsp;&nbsp;&nbsp;<a class='glow' style='color: lightgrey'>Try demo account! Login: <i>test</i> Password: <i>test</i></a>
</header>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			
					<table>
						
					<div class="card ">
          <div> &nbsp; </div>
<center><form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
   <div style=' padding: 12px 20px; '> <div>&nbsp;Username</div>
  <input style=" background-color: #F0F8FF; height: 35px; border-radius: 10px;" id="login" type="text" name="login" >
  <div>Password</div>
  <div class="fieldWrapper" style=" background-color: #F0F8FF; height: 35px; border-radius: 10px;">{{ form.password }}</div>
  <div> 	&nbsp;</div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <div><button class="primaryAction" type="submit" style="background-color: #36304a;
   														  color: #fff;; 
														  border-radius: 15px;
														  padding: 5px 25px;">{% trans "Sign In" %}</button></div>
  <div> 	&nbsp;</div>
  {% comment %} <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <div> 	&nbsp;</div>
  <center><a href="{{ signup_url }}">Register</a></center> {% endcomment %}
</form></center>
<div> &nbsp; </div>
</div>


							</tr>
						</thead>
						<tbody>


{% endblock %} </td>
								</tr>
							
																
    							

								</tr>
								
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src=" {% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src=" {% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src=" {% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src=" {% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src=" {% static 'js/main.js' %}"></script>

</body>
</html>